"*":
  "atom-package-deps":
    ignored: []
  core:
    disabledPackages: [
      "metrics"
      "jshint"
      "github"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "ffc60d6a-05ea-8a3d-15d6-0bfc144af718"
  jshint:
    supportLintingJsx: true
  linter:
    lintPreviewTabs: false
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 69
  minimap: {}
  "one-light-ui": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 9
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
